<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recomendacion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            cargarProvincias();
        });
    
        function volver() {
            window.history.back();
        }

        function cargarProvincias() {
            let provinciaSelect = document.getElementById("provincia");
    
            // Vaciar opciones previas
            provinciaSelect.innerHTML = "<option value=''>Selecciona una provincia</option>";
            fetch('/get_provincias')
                .then(response => response.json())
                .then(data => {
                    data.provincias.forEach(provincia => {
                        let option = document.createElement("option");
                        option.value = provincia;
                        option.text = provincia;
                        provinciaSelect.add(option);
                    });
                })
                .catch(error => console.error('Error fetching provincias:', error));
        }
    
        function cargarDepartamentos() {
            let provinciaSelect = document.getElementById("provincia");
            let departamentoSelect = document.getElementById("departamento");
            let localidadSelect = document.getElementById("localidad");
            let provincia = provinciaSelect.value;
    
            // Deshabilitar localidad si es Ciudad Autónoma de Buenos Aires
            if (provincia === "Ciudad Autónoma de Buenos Aires") {
                localidadSelect.disabled = true;
            } else {
                localidadSelect.disabled = false;
            }
    
            // Vaciar opciones previas
            departamentoSelect.innerHTML = "<option value=''>Selecciona un departamento</option>";
    
            if (provincia) {
                fetch(`/get_departamentos?provincia=${encodeURIComponent(provincia)}`)
                    .then(response => response.json())
                    .then(data => {
                        data.departamentos.forEach(departamento => {
                            let option = document.createElement("option");
                            option.value = departamento;
                            option.text = departamento;
                            departamentoSelect.add(option);
                        });
                    })
                    .catch(error => console.error('Error fetching departamentos:', error));
            }
        }
    
        function cargarLocalidades() {
            let provinciaSelect = document.getElementById("provincia");
            let departamentoSelect = document.getElementById("departamento");
            let localidadSelect = document.getElementById("localidad");
            let provincia = provinciaSelect.value;
            let departamento = departamentoSelect.value;

            // Vaciar opciones previas
            localidadSelect.innerHTML = "<option value=''>Selecciona una localidad</option>";

            if (provincia === "Ciudad Autónoma de Buenos Aires") {
                // Si la provincia es "Ciudad Autónoma de Buenos Aires", completar localidad automáticamente
                let option = document.createElement("option");
                option.value = departamento;
                option.text = departamento;
                localidadSelect.add(option);
                localidadSelect.value = departamento;  // Selecciona la opción automáticamente
            } else if (provincia && departamento) {
                // Si es otra provincia, buscar localidades normalmente
                fetch(`/get_localidades?provincia=${encodeURIComponent(provincia)}&departamento=${encodeURIComponent(departamento)}`)
                    .then(response => response.json())
                    .then(data => {
                        data.localidades.forEach(localidad => {
                            let option = document.createElement("option");
                            option.value = localidad;
                            option.text = localidad;
                            localidadSelect.add(option);
                        });
                    })
                    .catch(error => console.error('Error al buscar localidades:', error));
            }
        }

        function obtenerClusters() {
            let provincia = document.getElementById('provincia').value;
            let departamento = document.getElementById('departamento').value;
            let localidad = document.getElementById('localidad').value;

            fetch(`/get_clusters?provincia=${encodeURIComponent(provincia)}&departamento=${encodeURIComponent(departamento)}&localidad=${encodeURIComponent(localidad)}`)
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert(data.error);
                        return;
                    }

                    // Limpiar las opciones anteriores
                    let clustersListbox = document.getElementById('clusters-listbox');
                    clustersListbox.innerHTML = '';

                    // Llenar el listbox con los clústeres obtenidos
                    data.forEach(cluster => {
                        let option = document.createElement('option');
                        option.value = cluster.cluster_id;
                        option.textContent = `Zona ${cluster.cluster_id}: ${cluster.count} siniestros`;
                        clustersListbox.appendChild(option);
                    });

                    // Mostrar el listbox de clústeres
                    document.getElementById('cluster-selection').style.display = 'block';
                })
                .catch(error => {
                    console.error('Error al obtener los clústeres:', error);
                    alert('Error al obtener los clústeres.');
                });
        }

        function seleccionarCluster() {
            let selectedOptions = Array.from(document.getElementById('clusters-listbox').selectedOptions);
            let selectedClusters = selectedOptions.map(option => option.value);

            // Aquí puedes manejar la lógica con los clústeres seleccionados
            alert("Seleccionaste las Zonas: " + selectedClusters.join(", "));
            // Puedes mostrar más detalles o realizar otras acciones con los clústeres seleccionados
        }



        function mostrarFormularioDetalle() {
            // Esta función puede redirigir a otro formulario o mostrar más detalles
            alert("Mostrando detalles del clúster " + document.getElementById('clusterId').value);
            // Aquí puedes añadir lógica para redirigir a otro formulario o mostrar más información
        }

    </script>
</head>
<body>
    <header>
        <h1>Recomendaciones</h1>
    </header>
    <main>
        <form id="clusters" onsubmit="event.preventDefault(); obtenerClusters();">
            <label for="provincia">Provincia:</label>
            <select id="provincia" name="provincia" onchange="cargarDepartamentos()" required>
                <option value="">Selecciona una provincia</option>
                <!-- Las provincias se cargarán aquí dinámicamente -->
            </select>
            <br>

            <label for="departamento">Departamento:</label>
            <select id="departamento" name="departamento" onchange="cargarLocalidades()" required>
                <option value="">Selecciona un departamento</option>
                <!-- Los departamentos se cargarán aquí dinámicamente -->
            </select>
            <br>

            <label for="localidad">Localidad:</label>
            <select id="localidad" name="localidad" required>
                <option value="">Selecciona una localidad</option>
                <!-- Las localidades se cargarán aquí dinámicamente -->
            </select>
            <br>
            <button type="submit">Obtener datos</button>
            <button type="button" onclick="volver()">Volver</button>

        </form>
        <form id="cluster-selection" style="display:none;">
                <h3>Zonas Disponibles</h3>
                <label for="clusters-listbox">Selecciona una zona:</label>
                <select id="clusters-listbox" size="5" multiple onchange="seleccionarCluster()">
                    <!-- Las opciones se agregarán aquí dinámicamente -->
                </select>
        </form>

        <form id="selected-cluster-details" style="display:none;">
            <h3>Detalles de la Zona Seleccionada</h3>
            <p id="cluster-info"></p>
            <form id="detailForm" style="display:none;">
                <!-- Aquí se pueden mostrar más detalles o campos adicionales del clúster seleccionado -->
                <label for="clusterId">ID de la Zona:</label>
                <input type="text" id="clusterId" name="clusterId" readonly><br><br>
                
                <label for="clusterCount">Cantidad de Siniestros:</label>
                <input type="text" id="clusterCount" name="clusterCount" readonly><br><br>
                
                <button type="button" onclick="mostrarFormularioDetalle()">Ver más detalles</button>
            </form>
        </form>


    </main>
</body>
</html>
