<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú de Opcioes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Formulario de inspección in-situ</h1>
    </header>
    <nav>
        <ul>
            <h3>Seleccione el material de la via</h3>
            <li><a href="/forminsitu">Vias asfaltadas</a></li>
            <li><a href="/forminsitu2">Vias de tierra</a></li>
        </ul>
    </nav>
</body>
</html>
