<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Inspección In Situ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='form_styles.css') }}">
</head>

<body>
    <header>
        <h1>Formulario de Inspección</h1>
    </header>

    <h2>Para vias pavimentadas</h2>

    <div id="progreso">
        <h2 id="progreso-texto">1 de 2</h2>
    </div>

    <form action="/load_form_data" method="POST">

        <!-- Primer Paso -->
        <div id="paso-1" class="form-step">

            <div class="form-section">
                <div class="form-group">

                    <header><h3>Datos de la vía</h3></header>

                    <label for="nombrevia">Nombre</label>
                    <input type="text" id="nombrevia" name="nombrevia" required><br>
            
                    <label for="alturavia">Altura</label>
                    <input type="text" id="alturavia" name="alturavia" required><br>
                </div>
            </div>
                

            <div class="form-section">
                <header><h3>Caracteristicas generales</h3></header>
                <!-- <header><h4>Estado de conservación de la calzada</h4></header>-->
                <div class="form-group">
                    <label for="tipovia">1. Tipo de vía</label><br>
                    <select id="tipovia" name="tipovia" required>
                        <option value="">Seleccione un tipo</option>
                        <option value="1">Autopista</option>
                        <option value="2">Autovia</option>
                        <option value="3">Avenida</option>
                        <option value="4">Calle</option>
                        <option value="pasaje">Pasaje</option>
                        <option value="ruta">Ruta</option>
                        <option value="otro">Otro</option>
                    </select>
                    <br>
                </div>

                <div class="form-group">
                    <label for="materialvia">2. Material de la vía</label><br>
                    <select id="materialvia" name="materialvia" required>
                        <option value="">Seleccione un material</option>
                        <option value="1">Adoquines</option>
                        <option value="2">Asfalto</option>
                        <option value="3">Hormigón</option>
                    </select>
                    <br>
                </div>

                <div class="form-group">
                    <label for="estadovia">3. Estado de conservación de la vía</label><br>
                    <select id="estadovia" name="estadovia" required>
                        <option value="">Seleccione un estado</option>
                        <option value="bueno">Bueno</option>
                        <option value="agrietamiento">Agrietamiento</option>
                        <option value="bache">Bache</option>
                        <option value="hundimiento">Hundimiento</option>
                    </select>
                    <br>
                </div>

            </div>
        
            <div class="form-section">
                <div class="form-group">
                    <label for="limpieza">4 ¿Existe orden y limpieza en las vías de circulación?</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="limpieza-si" name="limpieza" value="1"> Si</label>
                        <label><input type="radio" id="limpieza-no" name="limpieza" value="0"> No</label>
                    </div>
                </div>
            </div>
        
            <div class="form-section">
                <div class="form-group">
                    <label for="luminaria">5 ¿Existe iluminación artificial?</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="luminaria-si" name="luminaria" value="1"> Si</label>
                        <label><input type="radio" id="luminaria-no" name="luminaria" value="0"> No</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="iluminacion-uniforme">6 ¿La iluminación artificial es uniforme?</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="iluminacion-uniforme-si" name="iluminacion-uniforme" value="1"> Si</label>
                        <label><input type="radio" id="iluminacion-uniforme-no" name="iluminacion-uniforme" value="0"> No</label>
                    </div>
                </div>
            </div>
        
            <div class="form-section">
                <div class="form-group">
                    <label for="veredas-optimas">7 ¿Las veredas se encuentran en estado óptimo para transitar?</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="veredas-optimas-si" name="veredas-optimas" value="1"> Si</label>
                        <label><input type="radio" id="veredas-optimas-no" name="veredas-optimas" value="0"> No</label>
                    </div>
                </div>
            </div>

            <header><h4>Intervenciones</h4></header>

            <div class="form-section">
                <div class="form-group">
                    <label for="carril-omnibus">8 ¿Existe carril exclusivo para ómnibus de transporte de pasajeros?</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="carril-omnibus-si" name="carril-omnibus" value="1"> Si</label>
                        <label><input type="radio" id="carril-omnibus-no" name="carril-omnibus" value="0"> No</label>
                    </div>
                </div>
            </div>

            <div class="form-section">
                <div class="form-group">
                    <label for="senalizacion-paradas">9 ¿Existe señalización de paradas establecidas para ómnibus?</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="senalizacion-paradas-si" name="senalizacion-paradas" value="1"> Si</label>
                        <label><input type="radio" id="senalizacion-paradas-no" name="senalizacion-paradas" value="0"> No</label>
                    </div>
                </div>
            </div>

            <div class="form-section">
                <div class="form-group">
                    <label for="ciclovia">10 ¿Existe una ciclvía?</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="ciclovia-si" name="ciclovia" value="1"> Si</label>
                        <label><input type="radio" id="ciclovia-no" name="ciclovia" value="0"> No</label>
                    </div>
                </div>
            </div>

            <div class="form-section">
                <div class="form-group">
                    <label for="chicana">11 ¿Existe una chicana?</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="chicana-si" name="chicana" value="1"> Si</label>
                        <label><input type="radio" id="chicana-no" name="chicana" value="0"> No</label>
                    </div>
                </div>
            </div>

            <div class="form-section">
                <div class="form-group">
                    <label for="bandas-reductoras">12 ¿Existen bandas reductoras?</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="bandas-reductoras-si" name="bandas-reductoras" value="1"> Si</label>
                        <label><input type="radio" id="bandas-reductoras-no" name="bandas-reductoras" value="0"> No</label>
                    </div>
                </div>
            </div>

            <div class="form-section">
                <div class="form-group">
                    <label for="reductor-velocidad">13 ¿Existe un reductor de velocidad?</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="reductor-velocidad-si" name="reductor-velocidad" value="1"> Si</label>
                        <label><input type="radio" id="reductor-velocidad-no" name="reductor-velocidad" value="0"> No</label>
                    </div>
                </div>
            </div>

            <div class="form-section">
                <div class="form-group">
                    <label for="mini-rotonda">14 ¿Existe una mini rotonda?</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="mini-rotonda-si" name="mini-rotonda" value="1"> Si</label>
                        <label><input type="radio" id="mini-rotonda-no" name="mini-rotonda" value="0"> No</label>
                    </div>
                </div>
            </div>

            <div class="form-section">
                <div class="form-group">
                    <label for="meseta-elevada">15 ¿Existe una meseta elevada?</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="meseta-elevada-si" name="meseta-elevada" value="1"> Si</label>
                        <label><input type="radio" id="meseta-elevada-no" name="meseta-elevada" value="0"> No</label>
                    </div>
                </div>
            </div>

            <div class="form-section">
                <div class="form-group">
                    <label for="isleta-giro">16 ¿Existe una isleta para giro?</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="isleta-giro-si" name="isleta-giro" value="1"> Si</label>
                        <label><input type="radio" id="isleta-giro-no" name="isleta-giro" value="0"> No</label>
                    </div>
                </div>
            </div>


            <div class="form-section">
                <header><h3>Señalización vial uniforme</h3></header>
                <header><h4>Señalamiento horizontal en calles y avenidas</h4></header>
                <div class="form-group">
                    <label for="demarcacion-separacion-carriles">8.1 ¿Existe demarcación horizontal respecto a la separación de carriles?</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="demarcacion-separacion-carriles-si" name="demarcacion-separacion-carriles" value="1"> Si</label>
                        <label><input type="radio" id="demarcacion-separacion-carriles-no" name="demarcacion-separacion-carriles" value="0"> No</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="demarcacion-doble-sentido">8.2 ¿Existe demarcación horizontal en vías con doble sentido de circulación?</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="demarcacion-doble-sentido-si" name="demarcacion-doble-sentido" value="1"> Si</label>
                        <label><input type="radio" id="demarcacion-doble-sentido-no" name="demarcacion-doble-sentido" value="0"> No</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="demarcacion-visible">8.3 ¿Son visibles en toda circunstancia (de día y de noche)?</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="demarcacion-visible-si" name="demarcacion-visible" value="1"> Si</label>
                        <label><input type="radio" id="demarcacion-visible-no" name="demarcacion-visible" value="0"> No</label>
                    </div>
                </div>    
            </div>
        
            <div class="form-section">
                <header><h4>Señalamiento vertical en calles y avenidas</h4></header>
                <div class="form-group">
                    <label for="senial-advertencia">9.1 ¿Existen señales verticales preventivas o de advertencia?</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="senial-advertencia-si" name="senial-advertencia" value="1"> Si</label>
                        <label><input type="radio" id="senial-advertencia-no" name="senial-advertencia" value="0"> No</label>
                    </div>
                </div>
        
                <div class="form-group">
                    <label for="senial-reglamentaria">9.2 ¿Existen señales verticales reglamentarias o prescriptivas?</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="senial-reglamentaria-si" name="senial-reglamentaria" value="1"> Si</label>
                        <label><input type="radio" id="senial-reglamentaria-no" name="senial-reglamentaria" value="0"> No</label>
                    </div>
                </div>
        
                <div class="form-group">
                    <label for="senial-maximo">9.3 ¿Existen señales verticales de máximo peligro?</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="senial-maximo-si" name="senial-maximo" value="1"> Si</label>
                        <label><input type="radio" id="senial-maximo-no" name="senial-maximo" value="0"> No</label>
                    </div>
                </div>
        
                <div class="form-group">
                    <label for="senial-informativa">9.4 ¿Existen señales informativas?</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="senial-informativa-si" name="senial-informativa" value="1"> Si</label>
                        <label><input type="radio" id="senial-informativa-no" name="senial-informativa" value="0"> No</label>
                    </div>
                </div>
        
                <div class="form-group">
                    <label for="senial-calle-nomenclada">9.5 ¿Las vías se encuentran señalizadas con sus respectivos nombres y altura catastral? (Nomencladores)</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="senial-calle-nomenclada-si" name="senial-calle-nomenclada" value="1"> Si</label>
                        <label><input type="radio" id="senial-calle-nomenclada-no" name="senial-calle-nomenclada" value="0"> No</label>
                    </div>
                </div>
        
                <div class="form-group">
                    <label for="senial-obstaculizada">9.6 ¿Se encuentran obstaculizadas por condiciones climáticas o vegetación?</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="senial-obstaculizada-si" name="senial-obstaculizada" value="1"> Si</label>
                        <label><input type="radio" id="senial-obstaculizada-no" name="senial-obstaculizada" value="0"> No</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="senial-redundante">9.7 ¿La señalización es redundante, confusa o con mucha información?</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="senial-redundante-si" name="senial-redundante" value="1"> Si</label>
                        <label><input type="radio" id="senial-redundante-no" name="senial-redundante" value="0"> No</label>
                    </div>
                </div>
            </div>
            
            <button type="button" id="next-button">Siguiente</button>
        
        </div>

        <!-- Segundo Paso -->
        <div id="paso-2" class="form-step" style="display:none;">

                <div class="form-section">
                    <header><h3>Intersecciones</h3></header>
                    <header><h4>Caracteristicas generales</h4></header>
                    <div class="form-group">
                        <label for="vias-distinta-superficie">1 ¿Confluyen vías de distinta superficie? (Ej. tierra o ripio)</label><br>
                        <div class="form-group-inline">
                            <input type="radio" id="vias-distinta-superficie-si" name="vias-distinta-superficie" value="1">
                            <label for="vias-distinta-superficie-si">Sí</label>
                            <input type="radio" id="vias-distinta-superficie-no" name="vias-distinta-superficie" value="0">
                            <label for="vias-distinta-superficie-no">No</label>
                        </div>
                    </div>
        
                    <div class="form-group">
                        <label for="interseccion-multiple">2 ¿Se encuentran o cruzan más de dos vías de circulación?</label><br>
                        <div class="form-group-inline">
                            <input type="radio" id="interseccion-multiple-si" name="interseccion-multiple" value="1">
                            <label for="cruzan-dos-vias-si">Sí</label>
                            <input type="radio" id="interseccion-multiple-no" name="interseccion-multiple" value="0">
                            <label for="cruzan-dos-vias-no">No</label>
                        </div>
                    </div>
                </div>

                <div class="form-section">
                    <div class="form-group">
                        <label for="visualizacion-cruce">3 ¿Se visualiza el cruce desde una distancia segura?</label><br>
                        <div class="form-group-inline">
                            <input type="radio" id="visualizacion-cruce-si" name="visualizacion-cruce" value="1">
                            <label for="visualizacion-cruce-si">Sí</label>
                            <input type="radio" id="visualizacion-cruce-no" name="visualizacion-cruce" value="0">
                            <label for="visualizacion-cruce-no">No</label>
                    </div>
                    <div class="form-group">
                        <label for="obstruccion-visual">4 ¿Existe obstrucción visual para los vehículos que se aproximan? (autos mal estacionados, árboles, contenedores de basura)</label><br>
                        <div class="form-group-inline">
                            <input type="radio" id="obstruccion-visual-si" name="obstruccion-visual" value="1">
                            <label for="obstruccion-visual-si">Sí</label>
                            <input type="radio" id="obstruccion-visual-no" name="obstruccion-visual" value="0">
                            <label for="obstruccion-visual-no">No</label>
                    </div>
                    <div class="form-group">
                        <label for="peatones-visibles">5 ¿Los peatones pueden ser vistos por los conductores con la suficiente anticipación?</label><br>
                        <div class="form-group-inline">
                            <input type="radio" id="peatones-visibles-si" name="peatones-visibles" value="1">
                            <label for="peatones-visibles-si">Sí</label>
                            <input type="radio" id="peatones-visibles-no" name="peatones-visibles" value="0">
                            <label for="peatones-visibles-no">No</label>
                    </div>
                </div>
        
                <div class="form-section">
                    <div class="form-group">
                        <label for="iluminacion-obstaculizada">9 ¿La iluminación artificial está obstaculizada? (Ej. por interposición de árboles)</label><br>
                        <div class="form-group-inline">
                            <input type="radio" id="iluminacion-obstaculizada-si" name="iluminacion-obstaculizada" value="1">
                            <label for="iluminacion-obstaculizada-si">Sí</label>
                            <input type="radio" id="iluminacion-obstaculizada-no" name="iluminacion-obstaculizada" value="0">
                            <label for="iluminacion-obstaculizada-no">No</label>
                    </div>
                </div>
        
                <div class="form-section">
                    <div class="form-group">
                        <label for="reductores-velocidad-cruce">10 ¿Previo al cruce existen reductores de velocidad?</label><br>
                        <div class="form-group-inline">
                            <input type="radio" id="reductores-velocidad-cruce-si" name="reductores-velocidad-cruce" value="1">
                            <label for="reductores-velocidad-cruce-si">Sí</label>
                            <input type="radio" id="reductores-velocidad-cruce-no" name="reductores-velocidad-cruce" value="0">
                            <label for="reductores-velocidad-cruce-no">No</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="badenes-canaletas">11 ¿Existen badenes con canaletas para que el agua drene?</label><br>
                        <div class="form-group-inline">
                            <input type="radio" id="badenes-canaletas-si" name="badenes-canaletas" value="1">
                            <label for="badenes-canaletas-si">Sí</label>
                            <input type="radio" id="badenes-canaletas-no" name="badenes-canaletas" value="0">
                            <label for="badenes-canaletas-no">No</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="objetos-rigidos">12 ¿Existen objetos rígidos (postes u otro objeto) cerca del cordón?</label><br>
                        <div class="form-group-inline">
                            <input type="radio" id="objetos-rigidos-si" name="objetos-rigidos" value="1">
                            <label for="objetos-rigidos-si">Sí</label>
                            <input type="radio" id="objetos-rigidos-no" name="objetos-rigidos" value="0">
                            <label for="objetos-rigidos-no">No</label>
                        </div>
                    </div>
                </div>
        
                <div class="form-section">
                    <header><h3>Señalización vial uniforme</h3></header>
                    
                    <header><h4>Señalización horizontal</h4></header>
                    <div class="form-group">
                        <label for="sendas-peatonales">13.1 ¿Existen sendas peatonales?</label><br>
                        <div class="form-group-inline">
                            <input type="radio" id="sendas-peatonales-si" name="sendas-peatonales" value="1">
                            <label for="sendas-peatonales-si">Sí</label>
                            <input type="radio" id="sendas-peatonales-no" name="sendas-peatonales" value="0">
                            <label for="sendas-peatonales-no">No</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lineas-pare">13.2 ¿Hay presencia de líneas de pare?</label><br>
                        <div class="form-group-inline">
                            <input type="radio" id="lineas-pare-si" name="lineas-pare" value="1">
                            <label for="lineas-pare-si">Sí</label>
                            <input type="radio" id="lineas-pare-no" name="lineas-pare" value="0">
                            <label for="lineas-pare-no">No</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cordones-pintados">13.3 ¿Hay presencia de cordones pintados de color amarillo y/o rojos?</label><br>
                        <div class="form-group-inline">
                            <input type="radio" id="cordones-pintados-si" name="cordones-pintados" value="1">
                            <label for="cordones-pintados-si">Sí</label>
                            <input type="radio" id="cordones-pintados-no" name="cordones-pintados" value="0">
                            <label for="cordones-pintados-no">No</label>
                        </div>
                    </div>
        
                    <header><h4>Señalización vertical</h4></header>
                    <div class="form-group">
                        <label for="senial-cruce-peatones">14.1 ¿Existen señales de cruce de peatones?</label><br>
                        <div class="form-group-inline">
                            <input type="radio" id="senial-cruce-peatones-si" name="senial-cruce-peatones" value="1">
                            <label for="senial-cruce-peatones-si">Sí</label>
                            <input type="radio" id="senial-cruce-peatones-no" name="senial-cruce-peatones" value="0">
                            <label for="senial-cruce-peatones-no">No</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="limitacion-velocidad">14.2 ¿Existen limitaciones de máxima velocidad?</label><br>
                        <div class="form-group-inline">
                            <input type="radio" id="limitacion-velocidad-si" name="limitacion-velocidad" value="1">
                            <label for="limitacion-velocidad-si">Sí</label>
                            <input type="radio" id="limitacion-velocidad-no" name="limitacion-velocidad" value="0">
                            <label for="limitacion-velocidad-no">No</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="senial-pare">14.3 ¿Existen señales de ceda el paso o pare?</label><br>
                        <div class="form-group-inline">
                            <input type="radio" id="senial-pare-si" name="senial-pare" value="1">
                            <label for="senial-pare-si">Sí</label>
                            <input type="radio" id="senial-pare-no" name="senial-pare" value="0">
                            <label for="senial-pare-no">No</label>
                        </div>
        
                    </div>
                    <div class="form-group">
                        <label for="senial-cruce">14.4 ¿Existen señales de proximidad de cruce?</label><br>
                        <div class="form-group-inline">
                            <input type="radio" id="senial-cruce-si" name="senial-cruce" value="1">
                            <label for="senial-cruce-si">Sí</label>
                            <input type="radio" id="senial-cruce-no" name="senial-cruce" value="0">
                            <label for="senial-cruce-no">No</label>
                        </div>
        
                    </div>
                    <div class="form-group">
                        <label for="senial-ciclovia">14.5 ¿Existen señales advirtiendo el cruce de una ciclovía?</label><br>
                        <div class="form-group-inline">
                            <input type="radio" id="senial-ciclovia-si" name="senial-ciclovia" value="1">
                            <label for="senial-ciclovia-si">Sí</label>
                            <input type="radio" id="senial-ciclovia-no" name="senial-ciclovia" value="0">
                            <label for="senial-ciclovia-no">No</label>
                        </div>
        
                    </div>
                    <div class="form-group">
                        <label for="senial-reductores">14.6 ¿Los reductores de velocidad se encuentran señalizados verticalmente?</label><br>
                        <div class="form-group-inline">
                            <input type="radio" id="senial-reductores-si" name="senial-reductores" value="1">
                            <label for="senial-reductores-si">Sí</label>
                            <input type="radio" id="senial-reductores-no" name="senial-reductores" value="0">
                            <label for="senial-reductores-no">No</label>
                        </div>
        
                    </div>
                    <div class="form-group">
                        <label for="paradas-seguras">14.7 ¿Las paradas de ómnibus se encuentran ubicadas de forma segura (respetando la distancia reglamentaria) previo al cruce?</label><br>
                        <div class="form-group-inline">
                            <input type="radio" id="paradas-seguras-si" name="paradas-seguras" value="1">
                            <label for="paradas-seguras-si">Sí</label>
                            <input type="radio" id="paradas-seguras-no" name="paradas-seguras" value="0">
                            <label for="paradas-seguras-no">No</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="obstruccion-carteleria">14.8 ¿Se observa obstrucción de la cartelería?</label><br>
                        <div class="form-group-inline">
                            <input type="radio" id="obstruccion-carteleria-si" name="obstruccion-carteleria" value="1">
                            <label for="obstruccion-carteleria-si">Sí</label>
                            <input type="radio" id="obstruccion-carteleria-no" name="obstruccion-carteleria" value="0">
                            <label for="obstruccion-carteleria-no">No</label>
                        </div>
        
                    </div>
                    <div class="form-group">
                        <label for="estado-carteleria">14.9 ¿Se encuentran en mal estado de conservación? (Ej. Despintadas, oxidadas, etc.)</label><br>
                        <div class="form-group-inline">
                            <input type="radio" id="estado-carteleria-si" name="estado-carteleria" value="1">
                            <label for="estado-carteleria-si">Sí</label>
                            <input type="radio" id="estado-carteleria-no" name="estado-carteleria" value="0">
                            <label for="estado-carteleria-no">No</label>
                        </div>
        
                    </div>
                    <div class="form-group">
                        <label for="senial-transitoria">14.10 ¿Hay presencia de señalamiento transitorio en zonas en construcción?</label><br>
                        <div class="form-group-inline">
                            <input type="radio" id="senial-transitoria-si" name="senial-transitoria" value="1">
                            <label for="senial-transitoria-si">Sí</label>
                            <input type="radio" id="senial-transitoria-no" name="senial-transitoria" value="0">
                            <label for="senial-transitoria-no">No</label>
                        </div>
        
                    </div>
                    <div class="form-group">
                        <label for="ceda-el-paso">14.11 ¿Se encuentran instaladas correctamente las señales “Ceda el paso” o “Pare”?</label><br>
                        <div class="form-group-inline">
                            <input type="radio" id="ceda-el-paso-si" name="ceda-el-paso" value="1">
                            <label for="ceda-el-paso-si">Sí</label>
                            <input type="radio" id="ceda-el-paso-no" name="ceda-el-paso" value="0">
                            <label for="ceda-el-paso-no">No</label>            
                        </div>
        
        
                    </div>
                    <div class="form-group">
                        <label for="cruces-peatonales-rot">14.12 ¿Existen cruces peatonales previo a una rotonda?</label><br>
                        <div class="form-group-inline">
                            <input type="radio" id="cruces-peatonales-rot-si" name="cruces-peatonales-rot" value="1">
                            <label for="cruces-peatonales-rot-si">Sí</label>
                            <input type="radio" id="cruces-peatonales-rot-no" name="cruces-peatonales-rot" value="0">
                            <label for="cruces-peatonales-rot-no">No</label>
                        </div>
        
                    </div>
                    <div class="form-group">
                        <label for="senalizacion-rotonda">14.13 ¿Las rotondas se encuentran señalizadas?</label><br>
                        <div class="form-group-inline">
                            <input type="radio" id="senalizacion-rotonda-si" name="senalizacion-rotonda" value="1">
                            <label for="senalizacion-rotonda-si">Sí</label>
                            <input type="radio" id="senalizacion-rotonda-no" name="senalizacion-rotonda" value="0">
                            <label for="senalizacion-rotonda-no">No</label>
                        </div>
        
                    </div>
        
                    <header><h4>Señalización lumínica</h4></header>
                    <div class="form-group">
                        <label for="semaforo-vehicular">15.1 ¿Existen semáforos vehiculares?</label><br>
                        <div class="form-group-inline">
                            <input type="radio" id="semaforo-vehicular-si" name="semaforo-vehicular" value="1">
                            <label for="semaforo-vehicular-si">Sí</label>
                            <input type="radio" id="semaforo-vehicular-no" name="semaforo-vehicular" value="0">
                            <label for="semaforo-vehicular-no">No</label>
                        </div>
        
                    </div>
                    <div class="form-group">
                        <label for="semaforo-peatonal">15.2 ¿Existen semáforos peatonales?</label><br>
                        <div class="form-group-inline">
                            <input type="radio" id="semaforo-peatonal-si" name="semaforo-peatonal" value="1">
                            <label for="semaforo-peatonal-si">Sí</label>
                            <input type="radio" id="semaforo-peatonal-no" name="semaforo-peatonal" value="0">
                            <label for="semaforo-peatonal-no">No</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="semaforo-ciclistas">15.3 ¿Existen semáforos para ciclistas?</label><br>
                        <div class="form-group-inline">
                            <input type="radio" id="semaforo-ciclistas-si" name="semaforo-ciclistas" value="1">
                            <label for="semaforo-ciclistas-si">Sí</label>
                            <input type="radio" id="semaforo-ciclistas-no" name="semaforo-ciclistas" value="0">
                            <label for="semaforo-ciclistas-no">No</label>
                        </div>
                    </div>
                </div>
                
                <button type="button" id="prev-button">Anterior</button>
                <button type="submit">Enviar</button>

            </form>
        </div>

    <script>
        const paso1 = document.getElementById('paso-1');
        const paso2 = document.getElementById('paso-2');
        const nextButton = document.getElementById('next-button');
        const prevButton = document.getElementById('prev-button');
        const progresoTexto = document.getElementById('progreso-texto');

        nextButton.addEventListener('click', () => {
            paso1.style.display = 'none';
            paso2.style.display = 'block';
            progresoTexto.textContent = '2 de 2';
        });

        prevButton.addEventListener('click', () => {
            paso2.style.display = 'none';
            paso1.style.display = 'block';
            progresoTexto.textContent = '1 de 2';
        });
    </script>

</body>
</html>
