<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agrupar siniestros viales por zona</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            cargarProvincias();
        });
    
        function volver() {
            window.history.back();
        }

        function cargarProvincias() {
            let provinciaSelect = document.getElementById("provincia");
    
            // Vaciar opciones previas
            provinciaSelect.innerHTML = "<option value=''>Selecciona una provincia</option>";
            fetch('/get_provincias')
                .then(response => response.json())
                .then(data => {
                    data.provincias.forEach(provincia => {
                        let option = document.createElement("option");
                        option.value = provincia;
                        option.text = provincia;
                        provinciaSelect.add(option);
                    });
                })
                .catch(error => console.error('Error fetching provincias:', error));
        }
    
        function cargarDepartamentos() {
            let provinciaSelect = document.getElementById("provincia");
            let departamentoSelect = document.getElementById("departamento");
            let localidadSelect = document.getElementById("localidad");
            let provincia = provinciaSelect.value;
    
            // Deshabilitar localidad si es Ciudad Autónoma de Buenos Aires
            if (provincia === "Ciudad Autónoma de Buenos Aires") {
                localidadSelect.disabled = true;
            } else {
                localidadSelect.disabled = false;
            }
    
            // Vaciar opciones previas
            departamentoSelect.innerHTML = "<option value=''>Selecciona un departamento</option>";
    
            if (provincia) {
                fetch(`/get_departamentos?provincia=${encodeURIComponent(provincia)}`)
                    .then(response => response.json())
                    .then(data => {
                        data.departamentos.forEach(departamento => {
                            let option = document.createElement("option");
                            option.value = departamento;
                            option.text = departamento;
                            departamentoSelect.add(option);
                        });
                    })
                    .catch(error => console.error('Error fetching departamentos:', error));
            }
        }
    
        function cargarLocalidades() {
            let provinciaSelect = document.getElementById("provincia");
            let departamentoSelect = document.getElementById("departamento");
            let localidadSelect = document.getElementById("localidad");
            let provincia = provinciaSelect.value;
            let departamento = departamentoSelect.value;

            // Vaciar opciones previas
            localidadSelect.innerHTML = "<option value=''>Selecciona una localidad</option>";

            if (provincia === "Ciudad Autónoma de Buenos Aires") {
                // Si la provincia es "Ciudad Autónoma de Buenos Aires", completar localidad automáticamente
                let option = document.createElement("option");
                option.value = departamento;
                option.text = departamento;
                localidadSelect.add(option);
                localidadSelect.value = departamento;  // Selecciona la opción automáticamente
            } else if (provincia && departamento) {
                // Si es otra provincia, buscar localidades normalmente
                fetch(`/get_localidades?provincia=${encodeURIComponent(provincia)}&departamento=${encodeURIComponent(departamento)}`)
                    .then(response => response.json())
                    .then(data => {
                        data.localidades.forEach(localidad => {
                            let option = document.createElement("option");
                            option.value = localidad;
                            option.text = localidad;
                            localidadSelect.add(option);
                        });
                    })
                    .catch(error => console.error('Error al buscar localidades:', error));
            }
        }

        async function generarClusteringZonas() {
            let form = document.getElementById("mapForm");
            let provincia = form.provincia.value;
            let departamento = form.departamento.value;
            let localidad = form.localidad.value;
            const response = await fetch('/run_clustering_zonas', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ provincia: provincia, departamento: departamento, localidad: localidad })
            });
            const data = await response.json();

            if (data.file_url) {
                // Mostrar el mapa en el iframe
                let mapFrame = document.getElementById("mapFrame");
                let mapTitle = document.getElementById("mapTitle");

                mapFrame.src = data.file_url; // Actualizar la URL del mapa
                mapFrame.style.display = "block"; // Mostrar el iframe
                mapTitle.style.display = "block"; // Mostrar el título

            } else {
                alert("Error al generar el mapa");
            }
        }
    </script>
</head>
<body>
    <header>
        <h1>Agrupar siniestros viales por zonas</h1>
    </header>
    <main>
        <form id="mapForm" onsubmit="event.preventDefault(); generarClusteringZonas();">
            <label for="provincia">Provincia:</label>
            <select id="provincia" name="provincia" onchange="cargarDepartamentos()" required>
                <option value="">Selecciona una provincia</option>
                <!-- Las provincias se cargarán aquí dinámicamente -->
            </select>
            <br>

            <label for="departamento">Departamento:</label>
            <select id="departamento" name="departamento" onchange="cargarLocalidades()" required>
                <option value="">Selecciona un departamento</option>
                <!-- Los departamentos se cargarán aquí dinámicamente -->
            </select>
            <br>

            <label for="localidad">Localidad:</label>
            <select id="localidad" name="localidad" required>
                <option value="">Selecciona una localidad</option>
                <!-- Las localidades se cargarán aquí dinámicamente -->
            </select>
            <br>
            <button type="submit">Generar Mapa</button>
            <button type="button" onclick="volver()">Volver</button>

            <body>
                <iframe id="mapFrame" src="" style="display:none; width: 100%; height: 600px;"></iframe>
            </body>

        </form>
    </main>
</body>
</html>
