<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Inspección In Situ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='form_styles.css') }}">
</head>

<body>
    <header>
        <h1>Formulario de Inspección</h1>
    </header>

    <h2>Para vías de tierra o ripio</h2>

    <div id="progreso">
        <h2 id="progreso-texto">1 de 2</h2>
    </div>

    <form action="/load_form_data" method="POST">

        <!-- Primer Paso -->
        <div id="paso-1" class="form-step">

            <div class="form-section">
                <div class="form-group">

                    <header><h3>Datos de la vía</h3></header>

                    <label for="nombrevia">Nombre</label>
                    <input type="text" id="nombrevia" name="nombrevia" required><br>
            
                    <label for="alturavia">Altura</label>
                    <input type="text" id="alturavia" name="alturavia" required><br>
                </div>
            </div>

            <div class="form-section">
                <header><h3>Características generales</h3></header>

                <div class="form-group">
                    <label for="tipovia">1. Tipo de vía</label><br>
                    <select id="tipovia" name="tipovia" required>
                        <option value="">Seleccione un tipo</option>
                        <option value="3">Avenida</option>
                        <option value="4">Calle</option>
                        <option value="5">Camino rural</option>
                        <option value="pasaje">Pasaje</option>
                        <option value="ruta">Ruta</option>
                        <option value="otro">Otro</option>
                    </select>
                    <br>
                </div>

                <div class="form-group">
                    <label for="materialvia">2. Material de la vía</label><br>
                    <select id="materialvia" name="materialvia" required>
                        <option value="">Seleccione un material</option>
                        <option value="5">Tierra</option>
                        <option value="4">Ripio</option>
                    </select>
                    <br>
                </div>

                <div class="form-group">
                    <label for="estadovia">3. Estado de conservación de la vía</label><br>
                    <select id="estadovia" name="estadovia" required>
                        <option value="">Seleccione un estado</option>
                        <option value="bueno">Bueno</option>
                        <option value="agrietamiento">Agrietamiento</option>
                        <option value="bache">Bache</option>
                        <option value="hundimiento">Hundimiento</option>
                    </select>
                    <br>
                </div>

                <div class="form-group">
                    <label for="polvo">4. ¿Existen problemáticas tales como polvo en suspensión cuando circulan vehículos automotores?</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="polvo-si" name="polvo" value="1"> Sí</label>
                        <label><input type="radio" id="polvo-no" name="polvo" value="0"> No</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="limpieza">5. ¿Existe orden y limpieza en las vías de circulación?</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="limpieza-si" name="limpieza" value="1"> Sí</label>
                        <label><input type="radio" id="limpieza-no" name="limpieza" value="0"> No</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="luminaria">6. ¿Existe iluminación artificial?</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="luminaria-si" name="luminaria" value="1"> Sí</label>
                        <label><input type="radio" id="luminaria-no" name="luminaria" value="0"> No</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="iluminacion-uniforme">7. ¿La iluminación artificial es uniforme?</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="iluminacion-uniforme-si" name="iluminacion-uniforme" value="1"> Sí</label>
                        <label><input type="radio" id="iluminacion-uniforme-no" name="iluminacion-uniforme" value="0"> No</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="veredas-optimas">8. ¿Las veredas se encuentran en estado óptimo para transitar?</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="veredas-optimas-si" name="veredas-optimas" value="1"> Sí</label>
                        <label><input type="radio" id="veredas-optimas-no" name="veredas-optimas" value="0"> No</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="zanjas">9. ¿Existen zanjas en zonas adyacentes a las vías de circulación?</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="zanjas-si" name="zanjas" value="1"> Sí</label>
                        <label><input type="radio" id="zanjas-no" name="zanjas" value="0"> No</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="zanjas-contencion">10. ¿Existen contenciones para evitar caer en zanjas o en zonas de reparación de la vía de circulación?</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="zanjas-contencion-si" name="zanjas-contencion" value="1"> Sí</label>
                        <label><input type="radio" id="zanjas-contencion-no" name="zanjas-contencion" value="0"> No</label>
                    </div>
                </div>
            </div>

            <div class="form-section">
                <header><h3>Señalización vial uniforme</h3></header>
                <header><h4>Señalización vertical</h4></header>

                <div class="form-group">
                    <label for="senial-advertencia">11. ¿Existen señales verticales preventivas o de advertencia?</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="senial-advertencia-si" name="senial-advertencia" value="1"> Sí</label>
                        <label><input type="radio" id="senial-advertencia-no" name="senial-advertencia" value="0"> No</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="senial-reglamentaria">12. ¿Existen señales verticales reglamentarias o prescriptivas?</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="senial-reglamentaria-si" name="senial-reglamentaria" value="1"> Sí</label>
                        <label><input type="radio" id="senial-reglamentaria-no" name="senial-reglamentaria" value="0"> No</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="senial-maximo">13. ¿Existen señales verticales de máximo peligro?</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="senial-maximo-si" name="senial-maximo" value="1"> Sí</label>
                        <label><input type="radio" id="senial-maximo-no" name="senial-maximo" value="0"> No</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="senial-informativa">14. ¿Existen señales informativas?</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="senial-informativa-si" name="senial-informativa" value="1"> Sí</label>
                        <label><input type="radio" id="senial-informativa-no" name="senial-informativa" value="0"> No</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="senial-obstaculizada">15. ¿Se observa obstrucción de la cartelería?</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="senial-obstaculizada-si" name="senial-obstaculizada" value="1"> Sí</label>
                        <label><input type="radio" id="senial-obstaculizada-no" name="senial-obstaculizada" value="0"> No</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="estado-carteleria">16. ¿Se encuentran en mal estado de conservación? (Ej. despintadas, oxidadas, etc.)</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="estado-carteleria-si" name="estado-carteleria" value="1"> Sí</label>
                        <label><input type="radio" id="estado-carteleria-no" name="estado-carteleria" value="0"> No</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="senial-transitoria">17. ¿Hay presencia de señalamiento transitorio en zonas en construcción?</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="senial-transitoria-si" name="senial-transitoria" value="1"> Sí</label>
                        <label><input type="radio" id="senial-transitoria-no" name="senial-transitoria" value="0"> No</label>
                    </div>
                </div>
            </div>

            <button type="button" id="next-button">Siguiente</button>
        </div>

        <!-- Segundo Paso -->
        <div id="paso-2" class="form-step" style="display:none;">
            <div class="form-section">
                <header><h3>Intersecciones</h3></header>
                <header><h4>Características generales</h4></header>

                <div class="form-group">
                    <label for="vias-distinta-superficie">18. ¿Confluyen vías de distinta superficie? (Ej. asfalto)</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="vias-distinta-superficie-si" name="vias-distinta-superficie" value="1"> Sí</label>
                        <label><input type="radio" id="vias-distinta-superficie-no" name="vias-distinta-superficie" value="0"> No</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="obstruccion-visual">19. ¿Existe obstrucción visual para los vehículos que se aproximan? (autos mal estacionados, árboles, contenedores de basura)</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="obstruccion-visual-si" name="obstruccion-visual" value="1"> Sí</label>
                        <label><input type="radio" id="obstruccion-visual-no" name="obstruccion-visual" value="0"> No</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="reductores-velocidad-cruce">20. ¿Previo al cruce existen reductores de velocidad? (lomos de tierra)</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="reductores-velocidad-cruce-si" name="reductores-velocidad-cruce" value="1"> Sí</label>
                        <label><input type="radio" id="reductores-velocidad-cruce-no" name="reductores-velocidad-cruce" value="0"> No</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="objetos-rigidos">21. ¿Existen objetos rígidos (postes u otro objeto) en las esquinas?</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="objetos-rigidos-si" name="objetos-rigidos" value="1"> Sí</label>
                        <label><input type="radio" id="objetos-rigidos-no" name="objetos-rigidos" value="0"> No</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="paradas-seguras">22. ¿Las paradas de ómnibus se encuentran ubicadas de forma segura (respetando la distancia reglamentaria) previo al cruce?</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="paradas-seguras-si" name="paradas-seguras" value="1"> Sí</label>
                        <label><input type="radio" id="paradas-seguras-no" name="paradas-seguras" value="0"> No</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="peatones-visibles">23. Los peatones pueden ser vistos por los conductores con la suficiente anticipación?</label><br>
                    <div class="form-group-inline">
                        <label><input type="radio" id="peatones-visibles-si" name="peatones-visibles" value="1"> Sí</label>
                        <label><input type="radio" id="peatones-visibles-no" name="peatones-visibles" value="0"> No</label>
                    </div>
                </div>

                <div class="form-section">
                    <header><h3>Señalización vial uniforme</h3></header>
                    <header><h4>Señalización horizontal</h4></header>

                    <div class="form-group">
                        <label for="senial-cruce-peatones">24. ¿Existen señales de cruce de peatones?</label><br>
                        <div class="form-group-inline">
                            <label><input type="radio" id="senial-cruce-peatones-si" name="senial-cruce-peatones" value="1"> Sí</label>
                            <label><input type="radio" id="senial-cruce-peatones-no" name="senial-cruce-peatones" value="0"> No</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="limitacion-velocidad">25. ¿Existen limitaciones de máxima velocidad?</label><br>
                        <div class="form-group-inline">
                            <label><input type="radio" id="limitacion-velocidad-si" name="limitacion-velocidad" value="1"> Sí</label>
                            <label><input type="radio" id="limitacion-velocidad-no" name="limitacion-velocidad" value="0"> No</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="senial-pare">26. ¿Existen señales de ceda el paso o pare?</label><br>
                        <div class="form-group-inline">
                            <label><input type="radio" id="senial-pare-si" name="senial-pare" value="1"> Sí</label>
                            <label><input type="radio" id="senial-pare-no" name="senial-pare" value="0"> No</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="senial-cruce">27. ¿Existen señales de proximidad de cruce?</label><br>
                        <div class="form-group-inline">
                            <label><input type="radio" id="senial-cruce-si" name="senial-cruce" value="1"> Sí</label>
                            <label><input type="radio" id="senial-cruce-no" name="senial-cruce" value="0"> No</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="senial-ciclovia">28. ¿Existen señales advirtiendo el cruce de una ciclovía?</label><br>
                        <div class="form-group-inline">
                            <label><input type="radio" id="senial-ciclovia-si" name="senial-ciclovia" value="1"> Sí</label>
                            <label><input type="radio" id="senial-ciclovia-no" name="senial-ciclovia" value="0"> No</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="senial-reductores">29. ¿Los reductores de velocidad se encuentran señalizados verticalmente?</label><br>
                        <div class="form-group-inline">
                            <label><input type="radio" id="senial-reductores-si" name="senial-reductores" value="1"> Sí</label>
                            <label><input type="radio" id="senial-reductores-no" name="senial-reductores" value="0"> No</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="senial-calle-nomenclada">30 ¿Las calles se encuentran señalizadas con sus respectivos nombres y altura catastral? (Nomencladores)</label><br>
                        <div class="form-group-inline">
                            <label><input type="radio" id="senial-calle-nomenclada-si" name="senial-calle-nomenclada" value="1"> Sí</label>
                            <label><input type="radio" id="senial-calle-nomenclada-no" name="senial-calle-nomenclada" value="0"> No</label>
                        </div>
                    </div>
                </div>

                <button type="button" id="prev-button">Anterior</button>
                <button type="submit">Enviar</button>
            </div>
        </div>
    </form>

    <script>
        const paso1 = document.getElementById('paso-1');
        const paso2 = document.getElementById('paso-2');
        const nextButton = document.getElementById('next-button');
        const prevButton = document.getElementById('prev-button');
        const progresoTexto = document.getElementById('progreso-texto');

        nextButton.addEventListener('click', () => {
            paso1.style.display = 'none';
            paso2.style.display = 'block';
            progresoTexto.textContent = '2 de 2';
        });

        prevButton.addEventListener('click', () => {
            paso2.style.display = 'none';
            paso1.style.display = 'block';
            progresoTexto.textContent = '1 de 2';
        });
    </script>

</body>
</html>
