<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recomendacion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            cargarProvincias();
        });
    
        function volver() {
            window.history.back();
        }

        function limpiar() {
            window.history.back();
        }

        function cargarProvincias() {
            let provinciaSelect = document.getElementById("provincia");
    
            // Vaciar opciones previas
            provinciaSelect.innerHTML = "<option value=''>Selecciona una provincia</option>";
            fetch('/get_provincias')
                .then(response => response.json())
                .then(data => {
                    data.provincias.forEach(provincia => {
                        let option = document.createElement("option");
                        option.value = provincia;
                        option.text = provincia;
                        provinciaSelect.add(option);
                    });
                })
                .catch(error => console.error('Error fetching provincias:', error));
        }
    
        function cargarDepartamentos() {
            let provinciaSelect = document.getElementById("provincia");
            let departamentoSelect = document.getElementById("departamento");
            let localidadSelect = document.getElementById("localidad");
            let provincia = provinciaSelect.value;
    
            // Deshabilitar localidad si es Ciudad Autónoma de Buenos Aires
            if (provincia === "Ciudad Autónoma de Buenos Aires") 
            {
                localidadSelect.disabled = true;
            } 
            else 
            {
                localidadSelect.disabled = false;
            }
    
            // Vaciar opciones previas
            departamentoSelect.innerHTML = "<option value=''>Selecciona un departamento</option>";
    
            if (provincia) {
                fetch(`/get_departamentos?provincia=${encodeURIComponent(provincia)}`)
                    .then(response => response.json())
                    .then(data => {
                        data.departamentos.forEach(departamento => {
                            let option = document.createElement("option");
                            option.value = departamento;
                            option.text = departamento;
                            departamentoSelect.add(option);
                        });
                    })
                    .catch(error => console.error('Error fetching departamentos:', error));
            }
        }
    
        function cargarLocalidades() {
            let provinciaSelect = document.getElementById("provincia");
            let departamentoSelect = document.getElementById("departamento");
            let localidadSelect = document.getElementById("localidad");
            let provincia = provinciaSelect.value;
            let departamento = departamentoSelect.value;

            // Vaciar opciones previas
            localidadSelect.innerHTML = "<option value=''>Selecciona una localidad</option>";

            if (provincia === "Ciudad Autónoma de Buenos Aires") {
                // Si la provincia es "Ciudad Autónoma de Buenos Aires", completar localidad automáticamente
                let option = document.createElement("option");
                option.value = departamento;
                option.text = departamento;
                localidadSelect.add(option);
                localidadSelect.value = departamento;  // Selecciona la opción automáticamente
            } else if (provincia && departamento) {
                // Si es otra provincia, buscar localidades normalmente
                fetch(`/get_localidades?provincia=${encodeURIComponent(provincia)}&departamento=${encodeURIComponent(departamento)}`)
                    .then(response => response.json())
                    .then(data => {
                        data.localidades.forEach(localidad => {
                            let option = document.createElement("option");
                            option.value = localidad;
                            option.text = localidad;
                            localidadSelect.add(option);
                        });
                    })
                    .catch(error => console.error('Error al buscar localidades:', error));
            }
        }

        let selectedSiniestroId = null;  // Variable global para almacenar el ID del siniestro seleccionado

        function obtenerSiniestros() {
            let provincia = document.getElementById('provincia').value;
            let departamento = document.getElementById('departamento').value;
            let localidad = document.getElementById('localidad').value;

            fetch(`/get_siniestros?provincia=${encodeURIComponent(provincia)}&departamento=${encodeURIComponent(departamento)}&localidad=${encodeURIComponent(localidad)}`)
                .then(response => response.json())
                .then(data => {
                    console.log('Datos de siniestros:', data);
                    let siniestrosCardsContainer = document.getElementById('siniestros-cards');
                    siniestrosCardsContainer.innerHTML = '';  // Limpiar tarjetas anteriores

                    if (data.siniestros && data.siniestros.length > 0) {
                        data.siniestros.forEach(siniestro => {
                            let card = document.createElement('div');
                            card.classList.add('card');  // Añadir clase 'card'

                            // Contenido de la tarjeta
                            card.innerHTML = `
                                <h3>ID: ${siniestro.Id}</h3>
                                <p><strong>Fecha:</strong> ${siniestro.Fecha}</p>
                                <p><strong>Hora:</strong> ${siniestro.Hora}</p>
                                <p><strong>Tipo de siniestro:</strong> ${siniestro.Tipo}</p>
                                <p><strong>Categoría de siniestro:</strong> ${siniestro.Categoria}</p>
                                <p><strong>Calle:</strong> ${siniestro.Calle}</p>
                                <p><strong>Altura:</strong> ${siniestro.Altura}</p>
                                <p><strong>Entre calle 1:</strong> ${siniestro.Entre_calle1}</p>
                                <p><strong>Entre calle 2:</strong> ${siniestro.Entre_calle2}</p>
                                <p>
                                    ${siniestro.Analizado 
                                        ? '<span style="background-color: green; color: white; padding: 5px 10px; border-radius: 20px;">✓ Analizado</span>' 
                                        : '<span style="background-color: red; color: white; padding: 5px 10px; border-radius: 20px;">⚠️ Pendiente</span>'}
                                </p>
                            `;

                            // Lógica de selección
                            card.addEventListener('click', function () {
                                // Deseleccionar otras tarjetas
                                document.querySelectorAll('.card').forEach(c => c.classList.remove('selected'));
                                
                                // Seleccionar la tarjeta actual
                                card.classList.add('selected');
                                
                                // Almacenar el ID del siniestro seleccionado
                                selectedSiniestroId = siniestro.Id;
                                console.log('Siniestro seleccionado:', selectedSiniestroId);
                            });

                            // Agregar la tarjeta al contenedor
                            siniestrosCardsContainer.appendChild(card);
                            // Mostrar los botones después de ejecutar la lógica
                            const botonesContainer = document.getElementById("botones-container");
                            botonesContainer.style.display = "block";
                        });
                    } else {
                        // Si no hay siniestros, mostrar un mensaje
                        siniestrosCardsContainer.innerHTML = '<p>No se encontraron siniestros</p>';
                    }
                })
                .catch(error => {
                    console.error('Error al obtener los siniestros:', error);
                });
        }

        function crearRecomendacion() {

            // Si no hay siniestros seleccionados, mostrar un mensaje con SweetAlert
            if (!selectedSiniestroId) {
                Swal.fire({
                    icon: 'warning',
                    title: 'Atención',
                    text: 'Por favor selecciona al menos un siniestro para crear una recomendación.',
                });
                return;
            }

            // Enviar los siniestros seleccionados para crear una recomendación
            fetch(`/advice?siniestro_id=${encodeURIComponent(selectedSiniestroId)}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({})
            })
            .then(response => response.json())
            .then(data => {
                console.log('Recomendacion generada:', data.recomendaciones);
                let mensaje = 'Siniestro analizado correctamente';

                Swal.fire({
                    icon: 'success',
                    title: 'Éxito',
                    text: mensaje,
                });

                // Llamar a obtenerSiniestros para actualizar la vista
                obtenerSiniestros();
            })
            .catch(error => {
                console.error('Error al crear la recomendación:', error);
                let mensaje = 'Error al crear la recomendación';

                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: mensaje,
                });
            });
            }

        function obtenerRecomendacion() {
            fetch(`/get_recomendacion?siniestro_id=${encodeURIComponent(selectedSiniestroId)}`)
                .then(response => response.json())
                .then(data => {
                    console.log('Datos de recomendaciones:', data);
                    let recomendacionesCardsContainer = document.getElementById('recomendacion-cards');
                    let tituloRecomendaciones = document.getElementById('tituloRecomendaciones');
                    let msjNoRecomendaciones = document.getElementById('msjNoRecomendaciones');
                    recomendacionesCardsContainer.innerHTML = '';  // Limpiar tarjetas anteriores

                    if (data.recomendaciones && data.recomendaciones.length > 0) {
                        tituloRecomendaciones.textContent = `Recomendaciones siniestro #${selectedSiniestroId}`;  // Actualiza el número de ID
                        tituloRecomendaciones.style.display = 'block';  // Mostrar el título
                        data.recomendaciones.forEach(recomendacion => {
                            let card = document.createElement('div');
                            
                            card.classList.add('card');  // Añadir clase 'card'
                            
                            // Contenido de la tarjeta
                            card.innerHTML = `
                                <p><strong>Fecha:</strong> ${recomendacion.Fecha}</p>
                                <p><strong>Accion:</strong> ${recomendacion.Accion}</p>
                                <p><strong>Estado:</strong> ${recomendacion.Estado}</p>
                                <div style="display: flex; gap: 10px; margin-top: 10px;">
                                    <button onclick="accionCorrecto(${recomendacion.Id})" style="padding: 8px 12px; background-color: #4CAF50; color: white; border: none; border-radius: 3px; cursor: pointer;">Correcto</button>
                                    <button onclick="accionIncorrecto(${recomendacion.Id})" style="padding: 8px 12px; background-color: #f44336; color: white; border: none; border-radius: 3px; cursor: pointer;">Incorrecto</button>
                                </div>
                            `;

                            // Lógica de selección
                            card.addEventListener('click', function () {
                                // Deseleccionar otras tarjetas
                                document.querySelectorAll('.card').forEach(c => c.classList.remove('selected'));
                                
                                // Seleccionar la tarjeta actual
                                card.classList.add('selected');
                                
                                // Almacenar el ID de la recomendacion seleccionada
                                selectedRecomendacionId = recomendacion.Id;
                                console.log('Recomendacion seleccionado:', selectedRecomendacionId);
                            });

                            // Agregar la tarjeta al contenedor
                            recomendacionesCardsContainer.appendChild(card);
                        });
                    } else {
                        
                        // Ocultar el título si no hay recomendaciones
                        tituloRecomendaciones.style.display = 'none';
                        // Si no hay siniestros, mostrar un mensaje
                        //recomendacionesCardsContainer.innerHTML = '<p>No se encontraron recomendaciones</p>';
                        msjNoRecomendaciones = `No se encontraron recomendaciones para el siniestro #${selectedSiniestroId}`;
                        recomendacionesCardsContainer.innerHTML = msjNoRecomendaciones;
                    }
                })
                .catch(error => {
                    console.error('Error al crear la recomendación:', error);
                    alert('Error al crear la recomendación.');
                });    
            }
        
            function accionCorrecto(id) {
                actualizarEstadoRecomendacion(id, 'correcto');
            }

            function accionIncorrecto(id) {
                actualizarEstadoRecomendacion(id, 'incorrecto');
            }

            function actualizarEstadoRecomendacion(id, nuevoEstado) {
                fetch(`/actualizar_recomendacion_estado`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ id: id, estado: nuevoEstado })
                })
                .then(response => {
                    if (response.ok) {
                        console.log(`Estado actualizado a ${nuevoEstado} para recomendación con id ${id}`)
                        // Aquí puedes actualizar el estado en la tarjeta visualmente si lo deseas
                        obtenerRecomendacion();
                    } else {
                        console.error('Error al actualizar el estado');
                    }
                })
                .catch(error => console.error('Error en la solicitud:', error));
            }

            async function generarMapa() {
            let form = document.getElementById("mapForm");
            const response = await fetch('/ver_mapa', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id_siniestro: selectedSiniestroId})
            });
            const data = await response.json();

            if (data.file_url) {
                // Mostrar el mapa en el iframe
                let mapFrame = document.getElementById("mapFrame");
                let mapTitle = document.getElementById("mapTitle");

                mapFrame.src = data.file_url; // Actualizar la URL del mapa
                mapFrame.style.display = "block"; // Mostrar el iframe
                mapTitle.style.display = "block"; // Mostrar el título

            } else {
                alert("Error al generar el mapa");
            }
        }
        
    </script>
</head>

<body>
    <header>
        <h1>Recomendaciones</h1>
    </header>
    <main>
        <form id="clusters" onsubmit="event.preventDefault(); obtenerClusters();">
            <label for="provincia">Provincia:</label>
            <select id="provincia" name="provincia" onchange="cargarDepartamentos()" required>
                <option value="">Selecciona una provincia</option>
                <!-- Las provincias se cargarán aquí dinámicamente -->
            </select>
            <br>

            <label for="departamento">Departamento:</label>
            <select id="departamento" name="departamento" onchange="cargarLocalidades()" required>
                <option value="">Selecciona un departamento</option>
                <!-- Los departamentos se cargarán aquí dinámicamente -->
            </select>
            <br>

            <label for="localidad">Localidad:</label>
            <select id="localidad" name="localidad" required>
                <option value="">Selecciona una localidad</option>
                <!-- Las localidades se cargarán aquí dinámicamente -->
            </select>
            <br>
            <button type="button" onclick="obtenerSiniestros()">Ver siniestros</button>
            <button type="button" onclick="volver()">Volver</button>
            
            <br>
            
            <div id="siniestros-cards" class="cards-container">
                <!-- Aquí se mostrarán dinámicamente las tarjetas de siniestros -->
            </div>
            
            <div id="botones-container" style="display: none;">
                <button id="analizar" onclick="crearRecomendacion()">Analizar siniestro</button>
                <button id="recomendacion" onclick="obtenerRecomendacion()">Ver recomendaciones</button>
                <button id="mapa" onclick="generarMapa()">Ver en mapa</button>
                <button id="limpiar" onclick="limpiar()">Limpiar resultados</button>
            </div>


            <h2 id="tituloRecomendaciones" style="display: none;"></h2>
            <div id="recomendacion-cards" class="cards-container">
                <!-- Recommendations will be dynamically inserted here -->
            </div>
            <br>
            <body>
                <iframe id="mapFrame" src="" style="display:none; width: 100%; height: 600px;"></iframe>
            </body>

        </form>
    </main>
</body>

</html>